.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}
.titulo__principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.mapa__conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

@media screen and (max-width: 480px) {
	 .mapa-conteudo {
		width: auto;
	}
}